<h3>Currently Playing</h3>

<% if @playing = Song.playing %>
<%= @playing %>
<div class="progress progress-striped active">
  <div class="bar" style="width: <%= @playing.current_percent %>%"></div>
</div>

<div id="current_progress">
  <%= format_time @playing.elapsed %> /
  <%= format_time @playing.length %>
</div>

Current listeners: <%= @playing.current_listeners %><br />

<%= link_to 'Vote to skip this song', new_song_vote_path(@playing, status: 'skip'), remote: true %>
(<%= @playing.votes.skips.count %> / <%= @playing.current_listeners > 1 ? @playing.current_listeners / 2 : 1 %> needed)
<% else %>
The radio is currently off.
<% end %>
<br />
<h3>Queue</h3>
<ul class="nav nav-list">
  <!-- <li class="nav-header">Sidebar</li> -->
  <% Song.queue.each do |song| %>
    <li><%= song.vote_count %> <%= song %></li>
  <% end %>
  <% if Song.queue.empty? %>
  The queue is currently empty. Songs will be chosen from the library at random.
  <% end %>
</ul>

<script type="text/javascript" charset="utf-8">
  elapsed     = <%= @playing.try(:elapsed) || 'null' %>;
  song_length = <%= @playing.try(:length)  || 'null' %>;
</script>
