<h3>Currently Playing</h3>

<% if Song.playing %>
<%= Song.playing %>
<div class="progress progress-striped active">
  <div class="bar" style="width: <%= Song.playing.current_percent %>%"></div>
</div>

<div id="current_progress">
  <%= format_time Song.playing.playing %> /
  <%= format_time Song.playing.length %>
</div>
Current listeners: <%= Song.playing.current_listeners %><br />
<% else %>
The radio is currently off.<br />
<% end %>

<a href="<%= CONFIG['icecast']['full_url']+CONFIG['icecast']['mount'] %>">Click here to listen!</a>

<h3>Queue</h3>
<ul class="nav nav-list">
  <!-- <li class="nav-header">Sidebar</li> -->
  <% Song.queue.each do |song| %>
    <li><%= song.vote_count %> <%= song %></li>
  <% end %>
  <% if Song.queue.empty? %>
  The queue is currently empty. Songs will be chosen from the library at random.
  <% end %>
</ul>

<script type="text/javascript" charset="utf-8">
  elapsed     = <%= Song.playing.try(:playing) || 'null' %>;
  song_length = <%= Song.playing.try(:length)  || 'null' %>;
</script>