<tr id="song_<%= song.id %>">
  <td><%= song.artist %></td>
  <td><%= link_to song.title, download_song_path(song) %></td>
  <td><%= format_time song.length %></td>
  <td>
    <% if vote = song.votes.active.where(ip: request.remote_ip).first %>
    <%= link_to 'Remove your vote', song_vote_path(song, vote), method: :delete, remote: true, class: 'btn btn-mini btn-danger vote' %>
    <% elsif song.votes.skips.where(ip: request.remote_ip).count > 0 %>
    <span class="label label-warning">You voted to skip this song!</span>
    <% elsif song.playing? %>
    <span class="label label-success">This song is playing!</span>
    <% else %>
    <%= link_to 'Vote', new_song_vote_path(song), remote: true, class: 'btn btn-mini btn-primary vote', id: "vote_#{song.id}" %>
    <% end %>
  </td>
</tr>
